<style>
    .login-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: lightgray;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <div class="login-container text-center">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form method="post">
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" class="form-control" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" class="form-control" id="contrasena" name="contrasena" required>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        </form>
        @if (ViewBag.mensaje != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.mensaje</div>
        }
    </div>
</div>